.container{
  padding-top: 1%;
  
}
h3{
  color: aliceblue;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.form-select{
  width: 30%;

}

.card{
  color: aliceblue;
  max-width: 100%;
  background-color: rgba(131, 53, 167, 0.197);
  border: none;
}