/* Navbar.css */
.navbar {
  background-color: rgba(255, 0, 234, 0.206);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;

   
  }

  .menu-toggle {
    display: none;

    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    gap: 38px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .menu li a:hover{
    font-size: 21px;
text-decoration: underline;

  }
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
      padding: 0px;
   
    }
    .menu.active {
        display: flex;
        padding: 0px;
    }
  
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 110px;
      background: linear-gradient(rgb(58, 0, 72),rgb(48, 0, 48));
      width: 100%;
      z-index: 1;
    }
    
  
    .menu.active {
      display: flex;
    }
  
}